h1, p {
  font-family: Roboto;
}

.search_navbar{
  background-color: #fff;
  border-top: 1.5px solid #ABB9C4;
  border-bottom: 1.5px solid #ABB9C4;
  padding: 0px 10px;
}
.search_ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.search_ul .nav-item{
  border-left: 1.5px solid #ABB9C4;
  cursor: pointer;
}
.search_field{
  flex-grow: 3;
}
.search_field .search_input{
  border: none;
  width: 90%;
}
.search_field .search_input.form-control:focus{
  box-shadow: none;
}
.cart_icon_count{
    background-color: #FF5252;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    width: 15px;
    display: block;
    text-align: center;
}